automation/n8n/reminders.json
[{"name":"reminder-24h","nodes":[{"id":"Cron24h","name":"Cron 08:00","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,260],"parameters":{"triggerTimes":{"item":[{"hour":8,"minute":0}]}}},{"id":"StatusAmanha","name":"Status Amanhã","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[520,260],"parameters":{"url":"=http://barberbook-api:8080/api/status-dia?date={{(new Date(Date.now()+86400000)).toISOString().slice(0,10)}}","method":"GET","jsonParameters":false,"options":{}}},{"id":"FilterAmanha","name":"Filter Confirmed Amanhã","type":"n8n-nodes-base.function","typeVersion":1,"position":[800,260],"parameters":{"functionCode":"const out=[];const tomorrow=(new Date(Date.now()+86400000)).toISOString().slice(0,10);const findArr=o=>{if(Array.isArray(o))return o; if(!o||typeof o!=='object')return []; for(const [k,v] of Object.entries(o)){ if(Array.isArray(v)) return v; } return [];};for(const item of $input.all()){const j=item.json||{};const arr=findArr(j);for(const a of arr){const start=a.startUtc||a.start||a.start_time||null;const d=start?new Date(start):null;const dStr=d?d.toISOString().slice(0,10):null;const status=((a.status||a.state||'')+'').toLowerCase();const confirmed=(a.confirmed===true||a.isConfirmed===true||status.includes('confirm'));const chatId=a.chatId||a.clientContact||a.clientPhone||a.phone||a.contact||a.client?.contact||a.client?.phone||null;const serviceName=a.serviceName||a.service?.name||a.service||a.title||'serviço';if(dStr===tomorrow&&confirmed&&chatId){const hhmm=d.toISOString().slice(11,16);const text=`Lembrete: amanhã às ${hhmm} — ${serviceName}`;out.push({json:{session:'default',chatId,text}});}}}return out;"}},{"id":"WahaSend24","name":"WAHA sendText (24h)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1080,260],"parameters":{"url":"http://waha:3000/api/sendText","method":"POST","jsonParameters":true,"options":{},"bodyParametersJson":"={\"session\":\"{{$json.session || 'default'}}\",\"chatId\":\"{{$json.chatId}}\",\"text\":\"{{$json.text}}\"}"}}],"connections":{"Cron 08:00":{"main":[[{"node":"Status Amanhã","type":"main","index":0}]]},"Status Amanhã":{"main":[[{"node":"Filter Confirmed Amanhã","type":"main","index":0}]]},"Filter Confirmed Amanhã":{"main":[[{"node":"WAHA sendText (24h)","type":"main","index":0}]]}},"active":false,"settings":{},"staticData":{}},{"name":"reminder-2h","nodes":[{"id":"Cron15","name":"Cron */15","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,520],"parameters":{"triggerTimes":{"item":[{"minute":"*/15"}]}}},{"id":"WinCalc","name":"Calc Window 2h±15m","type":"n8n-nodes-base.function","typeVersion":1,"position":[520,460],"parameters":{"functionCode":"const now=Date.now();const target=now+2*3600000;const windowStart=target-15*60000;const windowEnd=target+15*60000;const targetHHmm=new Date(target).toISOString().slice(11,16);return [{json:{windowStartMs:windowStart,windowEndMs:windowEnd,targetHHmm}}];"}},{"id":"StatusHoje","name":"Status Hoje","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[520,580],"parameters":{"url":"=http://barberbook-api:8080/api/status-dia?date={{(new Date()).toISOString().slice(0,10)}}","method":"GET","jsonParameters":false,"options":{}}},{"id":"MergeWin","name":"Merge Window+Status","type":"n8n-nodes-base.merge","typeVersion":1,"position":[800,520],"parameters":{"mode":"mergeByPosition"}},{"id":"Filter2h","name":"Filter Range 2h","type":"n8n-nodes-base.function","typeVersion":1,"position":[1080,520],"parameters":{"functionCode":"const items=$input.all();const out=[];for(const it of items){const j=it.json||{};const startMs=j.windowStartMs||0;const endMs=j.windowEndMs||0;const findArr=o=>{if(Array.isArray(o))return o; if(!o||typeof o!==\"object\")return []; for(const [k,v] of Object.entries(o)){ if(Array.isArray(v)) return v; } return [];};const arr=findArr(j);for(const a of arr){const start=a.startUtc||a.start||a.start_time||null;if(!start) continue;const tMs=Date.parse(start);if(Number.isFinite(tMs)&&tMs>=startMs&&tMs<=endMs){const hhmm=new Date(tMs).toISOString().slice(11,16);const chatId=a.chatId||a.clientContact||a.clientPhone||a.phone||a.contact||a.client?.contact||a.client?.phone||null;const serviceName=a.serviceName||a.service?.name||a.service||a.title||'serviço';if(chatId){const text=`Lembrete: daqui a ~2h (${hhmm}) — ${serviceName}`;out.push({json:{session:'default',chatId,text}});}}}}return out;"}},{"id":"WahaSend2h","name":"WAHA sendText (2h)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1360,520],"parameters":{"url":"http://waha:3000/api/sendText","method":"POST","jsonParameters":true,"options":{},"bodyParametersJson":"={\"session\":\"{{$json.session || 'default'}}\",\"chatId\":\"{{$json.chatId}}\",\"text\":\"{{$json.text}}\"}"}}],"connections":{"Cron */15":{"main":[[{"node":"Calc Window 2h±15m","type":"main","index":0},{"node":"Status Hoje","type":"main","index":0}]]},"Status Hoje":{"main":[[{"node":"Merge Window+Status","type":"main","index":0}]]},"Calc Window 2h±15m":{"main":[[{"node":"Merge Window+Status","type":"main","index":1}]]},"Merge Window+Status":{"main":[[{"node":"Filter Range 2h","type":"main","index":0}]]},"Filter Range 2h":{"main":[[{"node":"WAHA sendText (2h)","type":"main","index":0}]]}},"active":false,"settings":{},"staticData":{}}]
