automation/n8n/wa-incoming-base.json
{"name":"wa-incoming (base)","nodes":[{"id":"Webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[260,300],"parameters":{"path":"wa-incoming","httpMethod":"POST","responseMode":"responseNode"}},{"id":"FunctionParse","name":"Parse WAHA","type":"n8n-nodes-base.function","typeVersion":1,"position":[520,300],"parameters":{"functionCode":"const items=$input.all();return items.map(item=>{const r=item.json||{};const b=(r.body??r.data??r.payload??r.message??r.msg??{});const p=(b.payload??b.message??b.msg??r.payload??{});const chatId=(b.chatId??p.chatId??p.from??b.from??(b.key?.remoteJid)??(p.key?.remoteJid)??'');let text=(b.text??b.body??b.message?.text??b.message?.conversation??b.messages?.[0]?.text?.body??p.text??p.body??r.text??'');text=(typeof text==='string'?text.trim():(text!=null?JSON.stringify(text):''));const fromMe=Boolean(p.fromMe??b.fromMe??r.fromMe??false);const pushName=(r.me?.pushName??b.me?.pushName??p.me?.pushName??r.pushName??b.pushName??p.pushName??'')||'';const messageId=(p.id??b.id??b.key?.id??p.key?.id??'');return {json:{chatId,text,fromMe,pushName,messageId,session:'default'}};});"}},{"id":"IFNode","name":"fromMe?","type":"n8n-nodes-base.if","typeVersion":1,"position":[780,300],"parameters":{"conditions":{"boolean":[{"value1":"={{$json.fromMe}}","value2":true}]}}},{"id":"WAHASeen","name":"WAHA Seen","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1040,200],"parameters":{"url":"http://waha:3000/api/sendSeen","method":"POST","jsonParameters":true,"options":{},"bodyParametersJson":"={\"session\":\"{{$json.session}}\",\"chatId\":\"{{$json.chatId}}\"}"}},{"id":"RespondFromMe","name":"Respond OK (fromMe)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1300,200],"parameters":{"responseFormat":"string","responseBody":"OK (fromMe)","responseCode":200}},{"id":"WAHAAck","name":"WAHA Ack","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1040,420],"parameters":{"url":"http://waha:3000/api/sendText","method":"POST","jsonParameters":true,"options":{},"bodyParametersJson":"={\"session\":\"{{$json.session}}\",\"chatId\":\"{{$json.chatId}}\",\"text\":\"Recebido 👍\",\"reply_to\":\"{{$json.messageId}}\"}"}},{"id":"RespondOK","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1300,420],"parameters":{"responseFormat":"string","responseBody":"OK","responseCode":200}}],"connections":{"Webhook":{"main":[[{"node":"Parse WAHA","type":"main","index":0}]]},"Parse WAHA":{"main":[[{"node":"fromMe?","type":"main","index":0}]]},"fromMe?":{"main":[[{"node":"WAHA Seen","type":"main","index":0}],[{"node":"WAHA Ack","type":"main","index":0}]]},"WAHA Seen":{"main":[[{"node":"Respond OK (fromMe)","type":"main","index":0}]]},"WAHA Ack":{"main":[[{"node":"Respond OK","type":"main","index":0}]]}},"active":false,"settings":{},"staticData":{}}
